Node-RED/Google-Travel-Time-Calculator.txt
[
    {
        "id": "61380d19.2433d4",
        "type": "tab",
        "label": "Google Travel Time Calculator"
    },
    {
        "id": "b29f819e.97e3d",
        "type": "inject",
        "z": "61380d19.2433d4",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "*/1 0 * * *",
        "once": false,
        "x": 136,
        "y": 61,
        "wires": [
            [
                "67f097a6.f4c748"
            ]
        ]
    },
    {
        "id": "6be17a4e.a47664",
        "type": "rpi-sensehat out",
        "z": "61380d19.2433d4",
        "name": "",
        "x": 1138,
        "y": 105,
        "wires": []
    },
    {
        "id": "5f4f4144.8591b",
        "type": "http request",
        "z": "61380d19.2433d4",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "url": "",
        "tls": "",
        "x": 895,
        "y": 283,
        "wires": [
            [
                "fbfbd1d4.0caa1",
                "339a688c.5a9c58"
            ]
        ]
    },
    {
        "id": "fbfbd1d4.0caa1",
        "type": "function",
        "z": "61380d19.2433d4",
        "name": "extract and format duration values",
        "func": "\nda=(msg.payload.destination_addresses[0]).split(',')[0];\noa=(msg.payload.origin_addresses[0]).split(',')[0];\n\nitv=(msg.payload.rows[0].elements[0].duration_in_traffic.value)\nduv=(msg.payload.rows[0].elements[0].duration.value)\n\nminutes= Math.round(itv/60);\nh = Math.floor(minutes / 60);\nm = minutes % 60;\n//h = h < 10 ? '0' + h : h;\nm = m < 10 ? '0' + m : m;\n\nvar m = {\"payload\": h + ':' + m + ' ' + oa + ' to ' + da }; \nm.color=\"green\";\nif (duv*1.1 < itv) m.color=\"red\";\nreturn m  ;\n\n",
        "outputs": "1",
        "noerr": 0,
        "x": 1120,
        "y": 422,
        "wires": [
            [
                "6be17a4e.a47664"
            ]
        ]
    },
    {
        "id": "534fc4a3.9427bc",
        "type": "rpi-sensehat in",
        "z": "61380d19.2433d4",
        "name": "",
        "motion": false,
        "env": false,
        "stick": true,
        "x": 130,
        "y": 350,
        "wires": [
            [
                "67f097a6.f4c748"
            ]
        ]
    },
    {
        "id": "27df2129.b3047e",
        "type": "function",
        "z": "61380d19.2433d4",
        "name": "Create Request URL",
        "func": "\nmsg.url=\"https://maps.googleapis.com/maps/api/distancematrix/json?departure_time=now&origins=\" + msg.origins + \"&destinations=\" + msg.destinations + \"&key=\" + msg.key ;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 699,
        "y": 125,
        "wires": [
            [
                "5f4f4144.8591b"
            ]
        ]
    },
    {
        "id": "b7463dc2.a3ea",
        "type": "function",
        "z": "61380d19.2433d4",
        "name": "Get API Key",
        "func": "msg.key=\"<your API key here>\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 580,
        "y": 270,
        "wires": [
            [
                "27df2129.b3047e"
            ]
        ]
    },
    {
        "id": "67f097a6.f4c748",
        "type": "function",
        "z": "61380d19.2433d4",
        "name": "Get Locations",
        "func": "msg.origins=\"Eisenstadt,AT\";\nmsg.destinations=\"Vienna,AT\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 344,
        "y": 178,
        "wires": [
            [
                "b7463dc2.a3ea"
            ]
        ]
    },
    {
        "id": "5daa629b.10bf2c",
        "type": "dweetio in",
        "z": "61380d19.2433d4",
        "thing": "TTim",
        "name": "Get Ttim from dweet.io",
        "x": 121,
        "y": 496,
        "wires": [
            [
                "96d22a3e.5b0078"
            ]
        ]
    },
    {
        "id": "96d22a3e.5b0078",
        "type": "function",
        "z": "61380d19.2433d4",
        "name": "Get Locations from Dweet",
        "func": "msg.origins=msg.payload.origins;\nmsg.destinations=msg.payload.destinations;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 448,
        "y": 429,
        "wires": [
            [
                "b7463dc2.a3ea"
            ]
        ]
    },
    {
        "id": "836e7863.252cd8",
        "type": "dweetio out",
        "z": "61380d19.2433d4",
        "thing": "TTim",
        "name": "send  TTim to dweet.io",
        "x": 638.5,
        "y": 680,
        "wires": []
    },
    {
        "id": "5999b4ea.e6679c",
        "type": "function",
        "z": "61380d19.2433d4",
        "name": "Set Test Location ",
        "func": "msg.payload={\"origins\":  \"Eisenstadt,AT\" , \"destinations\" :\"Vienna\" };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 414,
        "y": 622,
        "wires": [
            [
                "836e7863.252cd8"
            ]
        ]
    },
    {
        "id": "77674d49.93a794",
        "type": "inject",
        "z": "61380d19.2433d4",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 137,
        "y": 655,
        "wires": [
            [
                "5999b4ea.e6679c"
            ]
        ]
    },
    {
        "id": "ac6c032a.20d4a",
        "type": "ui_form",
        "z": "61380d19.2433d4",
        "name": "",
        "label": "Calculator Form",
        "group": "fbe7267a.816518",
        "order": 0,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "From",
                "value": "origins",
                "type": "text",
                "required": true
            },
            {
                "label": "To",
                "value": "destinations",
                "type": "text",
                "required": true
            }
        ],
        "formValue": {
            "origins": "",
            "destinations": ""
        },
        "payload": "",
        "topic": "",
        "x": 289,
        "y": 748,
        "wires": [
            [
                "836e7863.252cd8"
            ]
        ]
    },
    {
        "id": "31618008.277db",
        "type": "comment",
        "z": "61380d19.2433d4",
        "name": "Calculate Travel Time via Google API",
        "info": "",
        "x": 566,
        "y": 36,
        "wires": []
    },
    {
        "id": "dc5e5a8c.93c818",
        "type": "comment",
        "z": "61380d19.2433d4",
        "name": "1. via Trigger HERE",
        "info": "",
        "x": 118,
        "y": 109,
        "wires": []
    },
    {
        "id": "2da0aaf7.e07c56",
        "type": "comment",
        "z": "61380d19.2433d4",
        "name": "2. via Sense Hat Joy Stick",
        "info": "",
        "x": 133,
        "y": 402,
        "wires": []
    },
    {
        "id": "a30970a2.b9ec7",
        "type": "comment",
        "z": "61380d19.2433d4",
        "name": "3. from Dweet.io (TTim thing:  {\"origins\":  \"Eisenstadt\" , \"destinations\" :\" Vienna\" } )",
        "info": "",
        "x": 306,
        "y": 536,
        "wires": []
    },
    {
        "id": "2a2fb897.eb1ee8",
        "type": "comment",
        "z": "61380d19.2433d4",
        "name": "4. via Form UI",
        "info": "",
        "x": 277,
        "y": 789,
        "wires": []
    },
    {
        "id": "339a688c.5a9c58",
        "type": "debug",
        "z": "61380d19.2433d4",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 965,
        "y": 49,
        "wires": []
    },
    {
        "id": "eedfe64a.102018",
        "type": "comment",
        "z": "61380d19.2433d4",
        "name": "enter YOUR API key here!",
        "info": "",
        "x": 631,
        "y": 308,
        "wires": []
    },
    {
        "id": "fbe7267a.816518",
        "type": "ui_group",
        "z": "",
        "name": "TTim",
        "tab": "d83f769b.5be0c8",
        "disp": true,
        "width": "6"
    },
    {
        "id": "d83f769b.5be0c8",
        "type": "ui_tab",
        "z": "",
        "name": "Dashboard",
        "icon": "dashboard",
        "order": 0
    }
]
